  .head_wallpaper {
    background-image: url("https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }
  .detail {
    margin: 0.5em;
    padding: 0.5em;
    height: 70vh;
    box-shadow: 0 0 12px rgba(0 ,0 ,0 , .4);
    text-align: left;
  }
  .head {
    display: flex;
  }
  .head img {
    margin-right: 0.7em;
    height: 150px;
    width: 150px;
  }
  .describe {
      display: flex;
      flex-direction: column;
  }
  .describe p {
    margin: 0.5em 0;
    color: #888;
    font-size: 14px;
  }
  .main {
    margin-top: 0.5em;
  }