.header {
    margin-bottom: 0.5em;
}
.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    min-height: 10vh;
    background: rgba(73, 79, 82);
    color: white;
}
.logo {
    padding-left: 2em;
}
.header nav div {
    flex: 1;
}

.header nav .nav_links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    list-style: none;
    margin: 0
}

.header nav .nav_links li a{
    text-decoration: none;
    font-weight: 600;
}
.card__article {
    margin: 10px;
}